@font-face {
  font-family: 'geakbil';
  src: url(../font/GeekbleMalang2OTF.otf) format('truetype');
}

@font-face {
  font-family: 'nelna';
  src: url(../font/nelnalizzychae2020.ttf) format('truetype');
}

@font-face {
  font-family: 'human';
  src: url(../font/Human.otf) format('truetype');
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}

header {
  background-color: #B22222;
  padding: 20px;
  font-family: 'nelna';
  font-size: 28px;
  text-align: center;
  color: #fff;
}

p {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

h2 {
  font-family: 'nelna';
  font-size: 24px;
  margin-bottom: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  width: 300px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
  background-color: #fff;
  text-decoration: none;
  color: #333;
}

.card:hover {
  transform: translateY(-5px);
}

.card-image {
  position: relative;
  overflow: hidden;
  height: 200px;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.card-image:hover img {
  transform: scale(1.1);
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-subtitle {
  font-size: 18px;
  margin-bottom: 10px;
}

.person-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.person {
  margin-top: 30px;
}

.person-info {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}

.person-question {
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: #B22222;
  padding: 6px;
  margin-bottom: 10px;
}

.person-answer {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  text-align: justify;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
}



@media screen and (max-width: 768px) {
  .card {
    width: 100%;
    margin-bottom: 20px;
  }

  .person-info {
    font-size: 16px;
  }

  .person-question {
    font-size: 16px;
  }

  .person-answer {
    font-size: 16px;
  }
}
